<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="ExplorerTestSuite" annotations="JDK" parallel="tests" >
  <parameter name="url" value="http://localhost:1080/webtours" />
  
  <test name="IELoginTest">
    
    <classes>
      <class name="sel.IELoginTest"/>
    </classes>
  </test> <!-- IELoginTest -->
  <test name="FireFoxLoginTest">
    
    <classes>
      <class name="sel.FireFoxLoginTest"/>
    </classes>
  </test> <!-- FireFoxLoginTest -->
</suite> <!-- ExplorerTestSuite -->
